<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.runtime.remoting>
        <channels>
            <channel ref="tcp" port="1234">
                <clientProviders>
                    <formatter ref="soap" />
                </clientProviders>
                <serverProviders>
                    <formatter ref="soap" typeFilterLevel="Full" />
                </serverProviders>
            </channel>
        </channels>
    </system.runtime.remoting>
</configuration>