<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:25262/ProductosService.svc/Central"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IProductosServiceCentral"
        contract="ProductosService.IProductosServiceCentral" name="WSDualHttpBinding_IProductosServiceCentral">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:25262/ProductosService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductosService"
        contract="ProductsService.IProductosService" name="BasicHttpBinding_IProductosService" />
      <endpoint address="http://localhost:25262/ProductosService.svc/Central"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductosServiceCentral"
        contract="ProductsService.IProductosServiceCentral" name="BasicHttpBinding_IProductosServiceCentral" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CentralService.Behaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CentralService.Behaviour" name="CentralService.CentralService">
        <endpoint address="Suppliers" binding="wsDualHttpBinding" bindingConfiguration="DuplexBinding" contract="Contracts.ICentralSupplierService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="Organizations" binding="wsDualHttpBinding" bindingConfiguration="DuplexBinding" contract="Contracts.ICentralOrganizationService" />
      </service>
    </services>
    <protocolMapping>
      <add binding="wsDualHttpBinding" scheme="https"/>
    </protocolMapping>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductosService" />
        <binding name="BasicHttpBinding_IProductosServiceCentral">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="DuplexBinding">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IProductosServiceCentral">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>