<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" />
      </channels>
      <client>
        <wellknown type="Contracts.ILoadBalancer, Contracts" url="http://localhost:9001/LoadBalancer.soap" />
      </client>
    </application>
    <debug loadTypes="true" />
  </system.runtime.remoting>
</configuration>