<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="SharedFolder" type="Executor.SharedFolder, Executor" />
  </configSections>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="1234" />
      </channels>
      <service>
        <wellknown mode="SingleCall"
                   type="Executor.Executor, Executor"
                   objectUri="Executor.soap" />
      </service>
      <client>
        <wellknown type="Contracts.ILoadBalancer, Contracts" url="http://localhost:9001/LoadBalancer.soap" />
      </client>
    </application>
    <debug loadTypes="true" />
  </system.runtime.remoting>

  <SharedFolder path="d:\" />
  
</configuration>