<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.runtime.remoting>
        <server>
            <wellknown mode="Singleton" type="LoadBalancer.LoadBalancer" objectUri="LoadBalancer.soap"/>
        </server>
        <channels>
            <channel ref="http" port="9001" />
        </channels>
    </system.runtime.remoting>-->
</configuration>