<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICentralSupplierService">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_ICentralOrganizationService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6506/CentralService.svc/Suppliers"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICentralSupplierService"
                contract="CentralService.ICentralSupplierService" name="WSDualHttpBinding_ICentralSupplierService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:6506/CentralService.svc/Organizations"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICentralOrganizationService"
                contract="CentralService.ICentralOrganizationService" name="WSDualHttpBinding_ICentralOrganizationService" />
        </client>
    </system.serviceModel>
</configuration>