<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
        <channels>
            <channel name ="Executor" ref="tcp" port="9010" secure="false" >
                <serverProviders>
                    <formatter ref="soap" typeFilterLevel="Full" />
                </serverProviders>
            </channel>
        </channels>
    </system.runtime.remoting>
</configuration>