<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="9001" />
      </channels>
      <service>
        <wellknown mode="Singleton"
                   type="LoadBalancer.LoadBalancer, LoadBalancer"
                   objectUri="LoadBalancer.soap" />
      </service>
    </application>
    <debug loadTypes="true" />
  </system.runtime.remoting>
</configuration>